html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../images/backgrounds/h_img.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /*-0-background-size: cover; */
    background-size: cover;
}
.card {
    text-align: center;
}
#services {
    background: url("../images/backgrounds/s_image.jpg") no-repeat center center;
    /*width: 1920px;*/
    /*height: 488px;*/
    height: 450px;
    background-position: center center;
    color: white;
    padding-top: 60px;
    background-size: auto;
}
#about {
    padding-top: 50px;
    /*padding: 80px;*/
    /*height: 300px;*/
}
#whatWeDo {
    text-align: center;
    padding-top: 20px;
}
h2 {
    text-align: center;
}